<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">
        <%= document.category %>
      </h2>
      <a class="btn btn-outline-primary w-100 mt-3 mb-3" href="/add/link/<%= document.id %>">Tambah Link</a>
      <table class="table">
        <tbody>
          <% document['urls'].forEach(url => { %>
          <tr>
            <td>
              <a href="<%= url.url %>"><%= url.title %></a>
            </td>
            <td>
              <form action="/delete/url" method="post">
                <input type="hidden" name="categoryId" value="<%= document._id %>">
                <input type="hidden" name="urlId" value="<%= url._id %>">
                <button type="submit" class="btn btn-danger btn-sm badge">Hapus</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
